/* CSS */
.custom-grid-item {
  background-color: unset;
}

.layered-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.layered-bg.has-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  opacity: 0.5;
  z-index: 2;
}

.layered-text {
  position: relative;
  z-index: 3;
  /* Your other text styles here */
}

